<link rel="stylesheet" type="text/css" href="css/style.css"/>
<main>
  <div class="h1">
    <h1>The following details were Submitted: </h1>
  </div>
    <div class="SubmittedData">
      <h2>ID: <%= ID %></h2>
      <h2>Name: <%= posts.VisitorName %></h2>
      <h2>Assisted By: <%= posts.AssistentName %></h2>
      <h2>Age: <%= posts.VisitorAge %></h2>
      <h2>Date: <%= posts.DateOfVisit %></h2>
      <h2>Time: <%= posts.timeOfVisit %></h2>
      <h2>Comments: <%= posts.Comments %></h2>
    </div>
  </main>